
h1 {
    color: #C6E2FF;
}

h3 {
    color: #C6E2FF;
}

img {
    width: 250px;
}

ol {
    color: #cc4725;
}

body {
    background-image: url("https://media.tenor.com/images/78b44fd18471bc11e7d35bb3844d8c60/tenor.gif");
    font-family: Arial, sans-serif;
}